body {
    font-family: verdana,"굴림";
    font-size: 16px;
    background-image:url("../images/bg.gif");
    background-repeat:repeat-x;
    background-position:0 0;
}
.notext {
    display:none;
}
.aside ul {
    list-style:none;   /*리스트의 목록 기호를 없앤다  */
}
.wrapper {
    max-width:860px;
    margin:0 auto;
}
#header {
    height:380px;
}
#header .cf_video {
    width:74.41860465116279%;
    float:left;
}
.cf_video video {
    width:100%;
    height:380px;
}
#header .main_logo {
    width:25.58139534883721%;
    float:right;
}
#list li {
    width:50%;
    float:left;
}
#list li p {
    line-height:125px;
    text-align: center;
}

/* 카카오 지도 */
#map {
    width:860px; /* 우리의 레이아웃 크기 : 860px 기준 */
    height:640px;
}
